web/APISoap.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="urn:APIElearn"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace=":urn:APIElearnApp">

    <types>
    <xsd:schema targetNamespace=":urn:APIElearnApp">
     <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
     <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
    </types>

    <message name="registroUsuarioRequest">
      <part name="userWS" type="xsd:string" />
      <part name="passWS" type="xsd:strign" />
      <part name="nombre" type="xsd:string" />
      <part name="email" type="xsd:strign" />
    </message>

    <message name="registroUsuarioResponse">
      <part name="return" type="xsd:string" />
    </message>

    <message name="registroUsuarioCursoRequest">
      <part name="usuario" type="xsd:string" />
      <part name="sku" type="xsd:strign" />
    </message>

    <message name="registroUsuarioCursoResponse">
      <part name="return" type="xsd:string" />
    </message>

    <portType name="APIElearnAppPortType">
      <operation name="registroUsuario">
        <documentation>Registro de los usuarios a la Plataforma</documentation>
        <input message="tns:registroUsuarioRequest"/>
        <output message="tns:registroUsuarioResponse"/>
      </operation>
      <operation name="registroUsuarioCurso">
        <documentation>Registro de los usuarios a los cursos de la Plataforma</documentation>
        <input message="tns:registroUsuarioCursoRequest"/>
        <output message="tns:registroUsuarioCursoResponse"/>
      </operation>
    </portType>

    <binding name="APIElearnAppBinding" type="tns:APIElearnAppPortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="registroUsuario">
        <soap:operation soapAction="urn:APIElearnApp#registro" style="rpc"/>
        <input><soap:body use="encoded" namespace="urn:APIElearnApp" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
        <output><soap:body use="encoded" namespace="urn:APIElearnApp" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
      </operation>

      <operation name="registroUsuarioCurso">
        <soap:operation soapAction="urn:APIElearnApp#registro" style="rpc"/>
        <input><soap:body use="encoded" namespace="urn:APIElearnApp" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
        <output><soap:body use="encoded" namespace="urn:APIElearnApp" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
      </operation>
    </binding>

    <service name="APIElearnApp">
      <port name="APIElearnAppPort" binding="tns:APIElearnAppBinding">
        <soap:address location="http://elearn.loc/soap"/>
      </port>
    </service>

</definitions>
